body {
  background-image: url('bg_index.gif');
  background-size: 1400px;
	background-position-x: center;
  width: auto;
  margin: center;
}
  
u {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  animation: colorRotate 1.5s linear 0s infinite;
}
  
p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.nav {
  border: none;
  border-left: #000000;
  background-color: rgb(26, 26, 26);
  color: white;
  border: 2px solid black;
  margin: 0px;
  padding: 15px 15px;
  border-radius: 3px;
}

.button {
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px 2px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(26, 26, 26);
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: linear;
  border-radius: 30% 30% 30% 30%;
  border-color: rgb(169, 169, 169);
  animation: colorRotate 2s linear 0s infinite;
}
.button:hover {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b4b4b4;
  color: white;
  background: #949494;
}
.calcboy {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

textarea {
  color: white;
  outline:none;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: black;
}

.tab {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 10px;
  border-spacing: 2px;
  table-layout: initial;
}

.tab:hover {
  color: rgb(223, 223, 223);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.info {
  color: rgb(223, 223, 223);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
  border-collapse: collapse;
  border-radius: 30%;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 77, 77);
}

.menu {
  width:100%;
  display: inline-block;
  min-width: 640px;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li {
  display: block;
  position: relative;
  float: left;
}
.menu .droite {
  float: right;
  padding-right:  10px;
}
.menu li ul {
  display: none;
  min-width: 206px;
}
.menu ul li a {   
  display: block;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}
.menu ul li a:hover {
  background: #999;
}
.menu li:hover ul {
  /* Ici l’affichage du sous-menu */
  display: block;
  position: absolute;
}
.menu li:hover li {
  float: none;
}

.navhi {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 5px ;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(26, 26, 26);
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: linear;
}

.socials {
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px 2px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(26, 26, 26);
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: linear;
  border: 1px solid #949494;
}

.socials:hover {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b4b4b4;
  color: white;
  background: #949494;
}

.cercle{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:50px;
  height:50px;
  border: 2px solid #949494;
}

.cercleimg{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:50px;
  height:50px;
}

.wow {
  font-family: Arial, Helvetica, sans-serif;
  color: #949494;
  position:absolute;
  bottom:10px;
  right:10px;
}

.wow:hover {
  -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) )
  color: transparent;
  transition-property: color;
  transition-duration: 0.6s;
  transition-timing-function: linear;
  animation: colorRotate 2s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}